.body{
margin: 0%;
font-family: arial;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a {
float: left;
color: chocolate;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
/*slider css */

.carousel-container{
display: flex;
justify-content: center;
align-items: center;
height: 300px;
}

.myslider{
display: none;
max-width: 100%;
min-height: 100%;
}

/*section css*/

.pic3{
position: relative;
opacity: 0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.pic3{
background-image: url(download.jpg);
min-height: 400px;
}
.section{
text-align: center;
padding: 50px 88px;
}

.section-dark{
background-color: #282e28;
color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
}